.container{
    display:flex;
    background-color: dodgerblue;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content:flex-end;
    align-items: flex-end;
    align-content: space-between;
    row-gap: 100px;
    column-gap: 100px;
  }
.container > p{
    background-color: #08406e;
    margin: 10px;
    padding: 5px;
    font-size: 30px;
  }